*{
    margin: 0;
}

header {
    height: 40px;
    background-color: #4d5373;
}

header .log{
    height: 40px;
    float: left;
    width: 30px; 
}

header p{
    margin-left: 50px;
}

.reg {
    right: 50px;
    margin-top: 5px;
    position: absolute;
    color: #4d5373; 
    padding: 5px; 
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
}

.in{
    right: 200px;
    margin-top: 5px;
    position: absolute;
    color: #4d5373; 
    padding: 5px; 
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
}

.box1{
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 20%;
    width: 55%; 
    height: 200px;
    background: #4d5373;
    padding: 60px; 
}

.voi1{
    border-radius: 5px;
    font-family: inherit;
    height: 40px;
    width: 10%;
    font-size: 1em;
    padding-left: 10px;
    color: white;
    background: #4d5373;
    transform: translate(500px, 10px)
}

.voi2{
    border-radius: 5px;
    font-family: inherit;
    height: 40px;
    width: 10%;
    font-size: 1em;
    padding-left: 10px;
    color: white;
    background: #4d5373;
    transform: translate(650px, 10px)
}

.voi3{
    border-radius: 5px;
    font-family: inherit;
    height: 40px;
    width: 10%;
    font-size: 1em;
    padding-left: 10px;
    color: white;
    background: #4d5373;
    transform: translate(800px, 10px)
}

.lol{
    color: #4d5373;
    transform: translate(390px, 40px)
}

.lolo{
    color: #4d5373;
    transform: translate(390px, 100px)
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb {
    background: #4d5373;
    border-radius: 10px;
  }