*{
    margin: 0;
}

header {
    height: 40px;
    background-color: #4d5373;
}

header .logo{
    height: 40px;
    float: left;
    width: 30px; 
}

header p{
    margin-left: 50px;
}

.exit {
    right: 50px;
    margin-top: 5px;
    position: absolute;
    color: #4d5373; 
    padding: 5px; 
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
}

.value{
    right: 150px;
    position: absolute;
    color: #4d5373; 
    padding: 5px; 
}

.ava{
    right: 270px;
    position: absolute;
    color: #4d5373;
    height: 35px;
    width: 35px;
}

h2{
    margin-left: -80%;
}

.reg {
    right: 50px;
    margin-top: 5px;
    position: absolute;
    color: #4d5373; 
    padding: 5px; 
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
}

.box1{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20%;
    width: 55%; 
    background: #4d5373;
    padding: 60px; 
}

.slider{
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 380px;
    max-width: 60%;
    position: relative;
    overflow: hidden;
    height: 300px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    z-index:9 
}

.item{
    position: absolute;
    width: 100%;
}

.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    z-index:999999999999999999
}


.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin-left: 10px;
    transform: translate(900px, 0px);
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #aaa;
}

.img1{
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20%;
    width: 15%; 
    height: 5%;
}

.img2{
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 0%;
    width: 15%; 
    height: 5%;
}

.img3{
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 0%;
    width: 15%; 
    height: 5%;
}

.emptyimg1{
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20%;
    width: 14%;
    height: 90px; 
    background: #4d5373;
}

.emptyimg2{
    border-radius: 10px;
    margin-top: -90px;
    margin-left: 35%;
    width: 14%; 
    height: 90px; 
    background: #4d5373;
}

.emptyimg3{
    border-radius: 10px;
    margin-top: -90px;
    margin-left: 50%;
    width: 14%; 
    height: 90px; 
    background: #4d5373;
}

.box3{
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 20%;
    width: 20%; 
    height: 100px;
    background: #4d5373;
    padding: 60px;
}

footer {
    margin-top: 50px;
    height: 40px;
    background-color: #4d5373;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb {
    background: #4d5373;
    border-radius: 10px;
  }
