$yog: rgb(#BF80A3) !default;
$yog_light: rgb(#D9C5D2) !default;
$dark_blue: rgb(#4D5373) !default;
$sent: rgb(#D9C2AD) !default;
$rum: rgb(#F2766B) !default;
$grey: rgb(#F0F0F0) !default;
$blue_grey: rgb(#9096B2) !default;
$white:rgb(#FFFFFF) !default;
body{
    background-color: rgb(#F0F0F0);
}
