input[type='text'],input[type='date'] {
    width:99%;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid $blue;
    font-family: 'Quicksand', sans-serif;
}
