
$blue: #4D5373 !default;
$grey_light:#F0F0F0 !default;
$grey: #9096B2 !default;
$white:rgb(255, 255, 255) !default;
$orange_sand: #BF80A3 !default;
$purple_light: #D9C5D2 !default;
$skin_color: #F1E6FA !default;
$blue_dark: #4D5373 !default;
$beige: #D9C2AD !default;
$orange_juice: #F2766B !default;
body{
    background-color:$grey_light;
}
